.index-tool-bar {
    padding: 10px;
}

.index-tool-bar .theme--light.v-input {
    color: rgba(53, 51, 51, 0.54);
}

.index-tool-bar .v-text-field__details {
    display: none
}


.img-box:hover {
    transition: all .2s ease 0s;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .66))
}

.img-box {
    position: relative;
    float: left;
    padding: 6px
}

.img-box .v-image {
    display: block;
    width: 158%;
    min-height: 66.6667%;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px hsla(0, 0%, 49.8%, .5)
}


.img-box .v-image .v-skeleton-loader__image {
    padding-bottom: 66.6667%
}

.img-box .v-image:hover {
    filter: saturate(1.75)
}



.box-compact:hover {
    transition: none;
    transform: none
}

.box-compact {
    padding: 0
}

.box-compact .v-image {
    border-radius: 0;
    box-shadow: none
}

.box-compact .v-image:hover {
    box-shadow: none
}

.box-compact .down-span {
    top: 0;
    right: 0
}

.box-compact .res-span {
    top: 0;
    left: 0
}

.box-compact .like-span {
    right: 0;
    bottom: 2px
}

@media (max-width: 768px) {
    .img-box {
        width: 100%
    }
}

@media (min-width: 769px) {
    .img-box {
        width: 50%
    }
}

@media (min-width: 992px) {
    .img-box {
        width: 33.33333%
    }
}

@media (min-width: 1600px) {
    .img-box {
        width: 25%
    }
}


.img-box .down-span,
.img-box .like-span,
.img-box .res-span {
    position: absolute;
    z-index: 1;
    color: #fafafa;
    border-radius: .5rem;
    padding: 0 4px;
    font-weight: 700
}

.img-box .down-span,
.img-box .res-span {
    background-color: rgba(50, 50, 50, .25);
    font-size: 9pt
}

.img-box .like-span {
    font-size: 135%
}


.img-box .res-span {
    left: 7px;
    top: 7px
}

.img-box .down-span {
    right: 7px;
    top: 7px
}

.img-box .down-span,
.img-box .like-span {
    cursor: pointer
}

.img-box .down-span a {
    color: #fafafa;
    padding: 1px 2px
}

.img-box .down-span a,
.img-box .down-span a:active,
.img-box .down-span a:focus,
.img-box .down-span a:hover,
.img-box .down-span a:link,
.img-box .down-span a:visited {
    text-decoration: none
}

.img-box .like-span {
    right: 8px;
    bottom: 8px
}

.image-background-black {
    background: #000 !important
}


.image-background {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999
}


.image-background canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75)
}

.image-background .image-resolution {
    position: fixed;
    font-size: 13px;
    color: #fff;
    top: 5px;
    left: 10px;
    background: hsla(0, 0%, 39.2%, .33);
    border-radius: 2px;
    padding: 0 2px
}

.image-background .close-span {
    position: fixed;
    top: 10px;
    right: 30px;
    color: #dfdfdf;
    cursor: pointer
}

.image-background .close-span .v-icon {
    font-size: 2pc;
    color: #dfdfdf
}

.image-background .image-tools-bar {
    width: 100%;
    height: 38px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    background: hsla(0, 0%, 100%, .7);
    border-radius: 10px;
    width: 38%;
    left: 31%
}

.image-background .image-tools-bar .tool {
    font-size: 1.45pc;
    color: #555;
    position: relative;
    float: left;
    left: 10%;
    width: 16%;
    height: 38px;
    cursor: pointer
}

.image-background .image-tools-bar .tool a {
    text-decoration: none
}

.image-background .image-tools-bar .tool .disabled {
    color: rgba(0, 0, 0, .2) !important;
    cursor: not-allowed
}

.image-background .image-tools-bar .tool:hover {
    background: rgba(66, 66, 66, .18)
}

@media (max-width: 768px) {
    .image-tools-bar {
        width: 98% !important;
        left: 1% !important
    }
}

@media (min-width: 769px) {
    .image-tools-bar {
        width: 74% !important;
        left: 8% !important
    }
}

@media (min-width: 992px) {
    .image-tools-bar {
        width: 60% !important;
        left: 20% !important
    }
}

@media (min-width: 1600px) {
    .image-tools-bar {
        width: 34% !important;
        left: 33% !important
    }
}