/* .nav {
    display: grid;
    grid-template-rows: calc(var(--header-height) - 1px);
    padding: 0 var(--side-padding)
}

.nav,
.ui-logo {
    align-items: center
}

.ui-logo {
    cursor: pointer;
    display: flex;
    font-size: 18px
}


.ui-logo>img {
    height: 32px;
    margin-right: 12px;
    width: 32px
} */