@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

@import './header.css';
@import './footer.css';

@import './views/mainpage.css';
@import './views/settings.css';
@import './views/searchpage.css';



/* 滚动条 */
::-webkit-scrollbar {
  width: 13px;
}



::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgba(0, 149, 255, 0.978);
}



::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25); */
  background: rgb(44, 44, 44);
  /* background: rgba(44, 44, 44, 0.986) */
}


/* APP */
#app {

  font-family: 'Noto Sans SC', sans-serif;
  font-size: 20;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}